<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Home</title>
    <!-- Font Awesome CDN for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <!-- Link to external CSS -->
    <link rel="stylesheet" href="/form.css">
</head>
<body>
    <form action='/host/submit-form' method='POST'>
        <h2>Submit Your Home</h2>
        <div class="form-group">
            <input type='text' name='housename' placeholder='Enter your home name'/>
            <i class="fa-solid fa-house"></i>
        </div>
        <div class="form-group">
            <input type='number' name='cost' placeholder='Enter cost per night'/>   
            <i class="fa-solid fa-dollar-sign"></i>
        </div>
        <div class="form-group">
            <input type='text' name='location' placeholder='Enter location'/>            
            <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="form-group">
            <input type="text" name="rating" placeholder="Enter rating (out of 5)"/>
            <i class="fa-solid fa-star"></i>
        </div>
        <button type='submit'>Submit your form</button>
    </form>    
</body>
</html>