<%- include('../partials/head', {title : 'Form Submitted'}) %>
<head><link rel="stylesheet" href="/submit-form.css"/></head>
<body>
    <h1>Your response has been recorded!</h1>
    <a href="/">Go Back on Home</a>
</body>
</html>